body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 38px;
}

.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding: 2% 6%;
}

.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    float: left;
    margin: 0 0 10% 5%;
    padding: 0 0 6% 2%;
    box-shadow: 5px 10px 30px grey;
    border-radius: 10px;
}

#item-1{
    border-left: 7px solid tomato;
}

#item-2{
    border-left: 7px solid blue;
}

footer p{
    text-align: center;
}